h1{
font-size: 25px;
font-family: arial;
text-align: center;
}

h2{
font-size: 18px;
font-family: impact;
}

h3{
font-size: 28px;
font-family: calibri;
}

h4{
font-size: 33px;
font-family: arial;
text-align: center;
}

body{
background-color: red;	
}
